<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="40">
    <div fxFlex *ngIf="dish">
      <md-card>
        <md-card-header>
          <md-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </md-card-title>
        </md-card-header>
        <img md-card-image src={{BaseURL+dish.image}} alt={{dish.name}}>
        <md-card-content>
          <p>
            {{dish.description}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button md-button (click)="goBack()">BACK</button>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <div fxFlex="40" *ngIf="dish">
    <md-list fxFlex>
      <h2 md-line>Comments</h2>
      <md-list-item *ngFor="let comment of dish.comments">
        <p md-line>{{comment.comment}}</p>
        <p md-line>{{comment.rating}} Stars</p>
        <p md-line>-- {{comment.author}} {{comment.date | date }}</p>
      </md-list-item>
      
      <p>{{ ratingForm.value | json }} {{ ratingForm.status | json }}</p>
      
      <form novalidate [formGroup]="ratingForm" (ngSubmit)="onSubmit()">
        <p>
          <md-input-container class="full-width" dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
            <input mdInput formControlName="author" placeholder="Name" type="text" required>
            <md-hint>
              <span [hidden]="!(formErrors.author)">
                {{formErrors.name}}</span>
            </md-hint>
          </md-input-container>
        </p>

        <md-slider mdInput formControlName="rating" min="1" max="5" step="1" value="5" thumbLabel tickInterval="1"></md-slider>

        <p>
          <md-input-container class="full-width" dividerColor="{{(formErrors.comment) ? 'warn' : 'primary'}}">
            <textarea mdInput formControlName="comment" placeholder="Your Feedback" rows=12></textarea>
            <md-hint>
              <span [hidden]="!(formErrors.comment)">
                {{formErrors.comment}}</span>
            </md-hint>
          </md-input-container>
        </p>
        <button type="submit" md-button class="background-primary text-floral-white" [disabled]="ratingForm.invalid">Submit</button>
      </form>

    </md-list>



  </div>