<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
     <div fxFlex="40" *ngIf="dish">
    <div fxFlex>
      <md-card>
        <md-card-header>
          <md-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </md-card-title>
        </md-card-header>
        <img md-card-image src={{dish.image}} alt={{dish.name}}>
        <md-card-content>
          <p>
            {{dish.description}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button md-button (click)="goBack()">BACK</button>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <div fxFlex="40" *ngIf="dish">
    <md-list fxFlex>
      <md-list-item>
        <md-list>
          <h3>Comments</h3> 
          <md-list-item> {{dish.comments[0].comment}} <br>{{dish.comments[0].rating}} Stars <br> -- {{dish.comments[0].author}} {{dish.comments[0].date|date}} </md-list-item><br><br>
          <md-list-item> {{dish.comments[1].comment}} <br>{{dish.comments[1].rating}} Stars <br> -- {{dish.comments[1].author}} {{dish.comments[1].date|date}} </md-list-item><br><br>
          <md-list-item> {{dish.comments[2].comment}} <br>{{dish.comments[2].rating}} Stars <br> -- {{dish.comments[2].author}} {{dish.comments[2].date|date}} </md-list-item><br><br>
          <md-list-item> {{dish.comments[3].comment}} <br>{{dish.comments[3].rating}} Stars <br> -- {{dish.comments[3].author}} {{dish.comments[3].date|date}} </md-list-item><br><br>
          <md-list-item> {{dish.comments[4].comment}} <br>{{dish.comments[4].rating}} Stars <br> -- {{dish.comments[4].author}} {{dish.comments[4].date|date}} </md-list-item><br><br>
        </md-list>
      </md-list-item>
    </md-list>
  </div>
</div>
