<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px">
    <div [hidden]="dish || errMess">
        <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
      </div>
      <div *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
      </div>
    <md-card *ngIf="dish" fxFlex>
        <md-card-header>
            <div md-card-avatar></div>
            <md-card-title>
                <h3>{{dish.name | uppercase}}</h3>
            </md-card-title>
        </md-card-header>
        <img md-card-image src={{BaseURL+dish.image}} alt={{BaseURL+dish.name}}>
        <md-card-content>
            <p>{{dish.description}}
            </p>
        </md-card-content>
    </md-card>
    
    <md-card *ngFor="let promotion of promotion" fxFlex>
        <md-card-header>
            <div md-card-avatar></div>
            <md-card-title>
                <h3>{{promotion.name | uppercase}}</h3>
            </md-card-title>
        </md-card-header>
        <img md-card-image src={{BaseURL+promotion.image}} alt={{BaseURL+promotion.name}}>
        <md-card-content>
            <p>{{promotion.description}}
            </p>
        </md-card-content>
    </md-card>

    <md-card *ngFor="let leader of leader" fxFlex>
        <md-card-header>
            <div md-card-avatar></div>
            <md-card-title>
                <h3>{{leader.name | uppercase}} {{leader.abbr | uppercase}}</h3>
            </md-card-title>
        </md-card-header>
        <img md-card-image src={{BaseURL+leader.image}} alt={{leader.name}}>
        <md-card-content>
            <p>{{leader.description}}
            </p>
        </md-card-content>
    </md-card>
</div>